.idea/

*.json

lesson7/project/node_modules/

lesson7/project/server/data/logs/cart_json/

lesson7/project/server/data/logs/

lesson6/project/server/data/logs/addToCart/

lesson6/project/server/data/logs/api/

lesson6/project/server/data/logs/database/
