.cart{

  &__empty{
    font-style: italic;
    text-align: center;
  }
  &__table{
    border: 1px solid grey;
    padding: 10px;
    margin: 0 auto;
  }

  &__th{
    padding: 0 20px;
  }
  &__td{
    padding: 5px 5px;
    border-bottom: 1px solid darkgrey;
    text-align: center;

    &-name{
      text-align: left;
    }
  }

  &__qty{
    width: 50px;
  }

  &__total{
    text-align: right;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 20px;
  }


}